#! /bin/sh

# dotnet
export ASPNETCORE_ENVIRONMENT="Development"
export DOTNET_CLI_TELEMETRY_OPTOUT="true"

# GOPATH
export GOROOT="/usr/local/go"
export GOPATH="$HOME/go"

# NVM
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# select node version
# nvm use stable

# RVM
export PATH="$PATH:$HOME/.rvm/bin"
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*

# git
export GIT_EDITOR="vim"

# rtx
RTX_DIR="$HOME/.local/share/rtx"
[ -s "$RTX_DIR/bin/rtx" ] && eval "$($RTX_DIR/bin/rtx activate bash)"
