#! /bin/sh

# dotnet
export ASPNETCORE_ENVIRONMENT="Development"
export DOTNET_CLI_TELEMETRY_OPTOUT="true"

# GOPATH
export GOROOT="/usr/local/go"
export GOPATH="$HOME/go"

# RVM
export PATH="$PATH:$HOME/.rvm/bin"
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*

# git
export GIT_EDITOR="vim"

# mise
# ref: https://mise.jdx.dev/
MISE_BIN="$HOME/.local/bin/mise"
[ -s "$MISE_BIN" ] && eval "$($MISE_BIN activate bash)"
